<html>
<head>
  <title>Anime_Facts</title>
</head>
<style type='text/css'>
    .table {
        font-family:Sans-Serif;
        font-size: 16px;
        width: 100%;
        text-align: center;
        border: none;
        background: #f1f0f0;
        margin: 10px;
    }

    .table thead th {
        color: #035749;
        border-bottom: 2px solid #207968;
        border-right: none;
        padding: 7px 17px;
    }

    .table tbody th {
        color: #207968;
        border-bottom: 2px solid #d7ded9;
        border-right: 2px solid #d7ded9;
        padding: 7px 17px;
    }

    .table tbody tr td:hover td {
        text-decoration: underline;
    }
</style>

<table class='table'>
  <thead>
  <%= @anime_name %>
  <tr>
    <th>Anime_Name</th>
    <th>Fact</th>
  </tr>
  </thead>
  <tbody>
  <% @anime_facts_information.each do |anime_facts| %>
    <tr>
      <th>
        <%= anime_facts.name%>
      </th>
      <th>
        <%= anime_facts.fact%>
      </th>
    </tr>
  <% end %>
  </tbody>
</table>
</html>