<html>
<head>
  <title>Main</title>
  <style>
      div {
          width: 100%;
          outline: 0;
          border: 0;
      }

      div2 {
          border-radius: 30%;
      }
  </style>
</head>
<body>
<div>
  <p border='0'>
    <div2>
      <a href='<%= @path + '/table_anime_facts.html'%>'><img src='https://raw.githubusercontent.com/Tatayna-san/generation_references/master/images/logo1.png' width=45% border='0' alt=''></a>
      <a href='<%= @path + '/table_games.html'%>'><img src='https://raw.githubusercontent.com/Tatayna-san/generation_references/master/images/logo2.png' width=45% border='0' alt=''></a>
    </div2>
  </p>
</div>
</body>
</html>